name: Build Docs

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.11

    - name: Install MkDocs
      run: |
        pip install mkdocs mkdocs-material pymdown-extensions

    - name: Build Documentation
      run: mkdocs build --strict

    - name: Deploy to GitHub Pages
      if: github.ref == 'refs/heads/master'
      uses: peaceiris/actions-gh-pages@v6
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: site
        keep_history: true
